*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/*body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
}*/



body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: center; 
    pad: 5px 0 0 0;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav ul li a:hover{
    transition: .3s;
    color: #F5655D;
}

.header-logotipo {
    left: 10%;
}

.header-logotipo-user {
    right: 10%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.glass-container{
    width: 350px;
    height: 350px; 
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}

.glass-container-create{
    width: 300px;
    height: 400px; 
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

.glass-container::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

.login-box{
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

h2{
    color: #fff;
    margin-top:30px;
    margin-bottom: -20px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input{
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}

input::placeholder{
    color: #fff;
}

input:focus{
    outline: none;
}

.options{
    display: flex;
    align-items: center;
}

.google-button{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    color: #fff;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border: #fff solid 1px;
}

.inicioSesion{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    color: #fff;
    /*background: transparent;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border: #fff solid 1px;
}

.inicioSesion:hover{
    color: white;
    outline: 1px solid #fff;
}

.button{
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: transparent;
    color: white;
    outline: 1px solid #fff;

}

p{
    color: #fff;
    font-size: 12px;
    margin-top: 15px;
}

.a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.a-log{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
}

.a-log:hover{
    color: #4F74E0;
}